.body{
	
	background-color: #57EEEE;
	color:#57EEEE;
}


#arrow-left{
	border-width: 30px 40px 30px 0px;
	border-color:transparent black transparent transparent;
	left:0;
	margin-left:0px;
}
.arrow{
	cursor:pointer;
	position:absolute;
	top:50%;
	margin-top:150;
	width:0;
	hight:0;
	border-style:solid;
}

#arrow-right{
	border-width: 30px 0px 30px 40px;
	border-color:transparent transparent transparent black;
	right:0;
	margin-right:0px;
}

.move{
	margin-right:auto;
	margin-left:auto;
	
}

.main-page{
	margin-top:100;
}

.color{
	background-color:14d9c0;
	
}

.color:hover{
	background-color:#d841ee;
}
.btn{
	color:#8a8a8a;
}
.btn:hover{
	color:black;
}
.formm{
	
	margin-left:100px;
	
}

img{
	
	width:360px;
	height:360px;
	
}
h1.movee{
	padding-left:150;
}
input.movee{
	margin-left:50;
}
input.move{
	margin-left:190;
}
p.movee{
	margin-left:50;
}
.btnn.btn.color:hover{
	crusor:unset;
}